form#appt-admin textarea{
  height: 200px;
  width: 150px;
}

form#appt-admin textarea.largeText{
  width: 300px;
  height: 150px;
}

p.error{
  color: #e45635;
  font-size: 1.5em;
}


table.appt-table th{
  width: 100px;
}

table.appt-table tbody td, table.registered tbody td{
  vertical-align: middle;
  text-align: center;

}

table.appt-table tbody td a:link, table.appt-table tbody td a:visited{
  display: block;
  height: 50px;
  border: 1px solid #000;
  line-height: 50px;
  text-decoration: none;
}

table.appt-table tbody td a.not-avail{
	background: #000;
}


table.appt-table tbody td a:hover, a.appt-registered-new{
  background: #3A5E8C;
}

table.appt-table tbody td a.not-avail:hover{
  background: #000 !important;
  cursor: default;
}


table.appt-cal{

}

table.appt-cal-next{
  position:absolute;
}


div#cal_container{
  position: relative;
  margin: 0 auto;
  width: 700px;
  overflow: hidden;
}
div.registration{
  display: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
table.registered th{
  width: 150px;
}

table.registered{
  margin: 0 auto;
  border: 1px solid #000;
}

input.error, textarea.error{
  border: 1px solid #f00 !important;
}

span.required{
  color: #aaa;
}

span.error{
  color: #f00;
}

a#cal_shift:link, a#cal_shift:visited{
  color: #fff;
  font-size: 1.3em;
  background: #000;
  zoom:1;
  filter: alpha(opacity=70);
  opacity: 0.7;
  text-decoration:none;
  display:block;
  padding: 20px;
  width: 50%;
  margin: 0 auto 20px auto;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
}

a#cal_shift:hover, a#cal_shift:visited:hover{
  background: #3A5E8C

}


